extends layout

block content
	h1 Info
	div
		p List Name: The name of your list.
		p Units: The unit of measurement you are using to track an item with.
		p Tag: By placing a tag on your list, you can compare data to other people with the same exact tag !(letters and numbers only).
		p Note: Personal use note about a list.